#inp_setup { 
    position: fixed;
    left: 40px; 
    color: aliceblue;

}



body {
    margin: 0;
    background-size: 400% 400%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
canvas {
    align-items: center;
    display: block;
}
